.field-wrapper {
  position: relative;
}

.field-wrapper:has(.field--error)::after {
  content: "!";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  border: 1px solid var(--error);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--error);
}

.field-wrapper:has(.field--error) .error-message {
  display: block;
  position: absolute;
}
